<h1>Welcome to my website!</h1>
<!-- <div parallax [config]="{ parallaxInitVal: 50,	parallaxRatio: .26 }" id="second-example"></div> -->
<div parallax id="first-page">
<app-home></app-home>
<!-- <form class="example-form"> -->
    <!-- <mat-form-field class="example-full-width"> -->
      <input matInput placeholder="Favorite food" value="Sushi">
    <!-- </mat-form-field> -->
  
    <!-- <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field> -->
  <!-- </form> -->
  
</div>
<div parallax id="second-page"></div>

